.img1 {
  width: 70%;
  height: 50%;
  border-radius: 5%;
  object-fit: cover;
}

.img2 {
  width: 90%;
  height: 60%;
  border-radius: 5%;
  object-fit: cover;
}

.nav .link {
  position: relative;
  text-decoration: none;

  font-weight: 600;
  padding-bottom: 4px;
}

.nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  background-color: pink;
  bottom: 0;
  width: 0%;
  height: 2px;

  transition: width 0.7s ease;
}

.nav .link:hover::after {
  width: 100%;
}

